@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
   --_font-main: 'Raleway', sans-serif;

   --gradient1: hsl(6, 100%, 80%);
   --gradient2: hsl(335, 100%, 65%);

   --bg-card: hsl(228, 56%, 26%);
   --bg-documents: hsl(229, 57%, 11%);
   --color-GB: hsl(243, 100%, 93%);
   --grayish-blue: hsl(229, 7%, 55%);
   --white: #fff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--_font-main);
   list-style-type: none;
}

/* Content Page */
body {
   background-color: var(--bg-documents);
   background-image: url(../images/bg-desktop.png);
   background-repeat: no-repeat;
   background-position: 0 100%;
   background-size: 100% 50%;
}

#container {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#fylo {
   width: 1200px;
   display: flex;
   gap: 2em;
   padding: 1em;
}

#fylo-documents {
   display: flex;
   flex-direction: column;
   gap: 3em;
   padding: 3em;
   background-color: var(--bg-card);
   width: 40%;
   border-radius: 15px 150px 15px 15px;
}

#fylo-documents #fylo-logo {
   width: 200px;
}

#documents ul {
   display: flex;
   gap: .8em;
}

#documents ul a {
   background-color: var(--bg-documents);
   padding: 1em;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Storage */

#storage {
   position: relative;
   background-color: var(--bg-card);
   width: 60%;
   min-height: 200px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-self: flex-end;
   gap: 1em;
   padding: 3em;
   border-radius: 15px;
}

#storage p {
   color: var(--grayish-blue);
   font-size: 1.2em;
}
#storage .gb {
   color: var(--color-GB);
   font-weight: 600;
}

#total-storage-bar {
   background-color: var(--bg-documents);
   width: 100%;
   height: 25px;
   border-radius: 15px;
   padding: 3px;
}
#used-storage-bar {
   display: flex;
   justify-content: flex-end;
   width: 81.5%;
   height: 100%;
   background: linear-gradient(90deg, var(--gradient1), var(--gradient2));
   border-radius: 10px;
   padding: 3px;
}
#circle-storage-bar {
   width: 13px;
   height: 100%;
   background-color: var(--white);
   border-radius: 50%;
}

#gigabits {
   display: flex;
   justify-content: space-between;
}
#gigabits .total-gigabits {
   color: var(--white);
   font-weight: 600;
   font-size: 1.2em;
}

#storage #ballon-storage-left {
   position: absolute;
   background-color: var(--white);
   padding: .9em;
   border-radius: 15px;
   align-self: flex-end;
   margin-top: -210px;
   display: flex;
   gap: .5em;
   align-items: center;
}
#ballon-storage-left h2 {
   font-size: 2em;
}
#ballon-storage-left #gb-left {
   font-size: .9em;
   font-weight: 700;
   text-transform: uppercase;
   color: var(--grayish-blue);
}

/* Mobile */

@media(max-width: 1000px) {
   #fylo {
      flex-direction: column;
   }

   #fylo-documents {
      width: 100%;
   }

   #storage {
      width: 100%;
   }

   #storage #ballon-storage-left {
     
      align-self: center;
      margin-top: 230px;
   }
}

@media (max-width: 450px) {
   body {
      background-image: url(../images/bg-mobile.png);
      background-size: cover;
   }

   #fylo-documents {
      gap: 2em;
   }

   #fylo-documents #fylo-logo {
      width: 150px;
   }
}